@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 769px) {
  .group-textbox-company-name {
    transform: scale(0.2);
    transition: transform 0.3s ease-in-out;
  }
}

@media (max-width: 768px) {
  .group-textbox-company-name {
    transform: scale(0.5);
    transition: transform 0.3s ease-in-out;
  }
}

/* @media (max-width: 768px) {
    .trinity-title-text {
      font-size: 1.3rem !important;
      line-height: normal !important;
    }
  }
  
  @media (min-width: 769px) {
    .trinity-title-text {
      font-size: 1.5rem !important;
      line-height: normal !important;
    }
  }
  
  @media (min-width: 1440px) {
    .trinity-title-text {
      font-size: 2rem !important;
      line-height: normal !important;
    }
  } */
