@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 769px) {
  .group-textbox-company-name {
    transform: scale(0.2);
    transition: transform 0.3s ease-in-out;
  }
}

@media (max-width: 768px) {
  .group-textbox-company-name {
    transform: scale(0.5);
    transition: transform 0.3s ease-in-out;
  }
}

@layer utilities {
  .white-shadow {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
}
