@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .white-shadow {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
}

@media (max-width: 400px) {
  .group-textbox {
    transform: scale(0.6);
    transition: transform 0.3s ease-in-out;
  }
}

@media (min-width: 769px) {
  .group-textbox {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
}

@media (max-width: 768px) {
  .group-textbox {
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
  }
}

@media only screen and (min-width: 768px) {
  .bg-IconTrinityTruckSecond {
    background-image: url('./assets/trinity-steelindo-truck.jpg');
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .bg-IconTrinityTruckSecond {
    background-image: url('./assets/icon-trinity-truck-2-full-size.jpeg');
  }
}

@media only screen and (min-height: 1500px) {
  .bg-IconTrinityTruckSecond {
    background-image: url('./assets/ic-trinity-truck-3.jpeg');
  }
}

@media (max-width: 768px) {
  .display-background-mobile {
    display: block !important;
  }
  .display-background-desktop {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .display-background-desktop {
    display: block !important;
  }
  .display-background-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .mobile-tablet-views {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 767px) {
  .mobile-tablet-views {
    display: grid;
    grid-auto-flow: row;
    gap: 1.25rem;
  }
}

.bg-resize-custom {
  background-position: center;
  background-size: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn;
}

.fill-text-title {
  display: inline-block;
  animation: fillTextTitle 3s linear forwards;
}

.description-animation {
  opacity: 0;
  animation: descriptionAppear 1s forwards 5.5s;
}

.daily-activity-animation {
  opacity: 0;
  animation: dailyActivityAnimation 1s forwards 6s;
}

.founder-text-title {
  opacity: 0;
  animation: founderTextTitle 1s forwards 7s;
}

@keyframes fillTextTitle {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes dailyActivityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes descriptionAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes founderTextTitle {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@layer base {
  html {
    color-scheme: light !important;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

@layer base {
  ::-webkit-scrollbar {
    @apply hidden;
  }

  ::-webkit-scrollbar-track-piece {
    @apply hidden;
  }
}
