@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 475px) {
  .group-textbox {
    transform: scale(0.5);
    transition: transform 0.3s ease-in-out;
  }
}

@media (min-width: 640px) {
  .group-textbox {
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
  }
}

@media (min-width: 1024px) {
  .group-textbox {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
}

@media (min-width: 1280px) {
  .group-textbox {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
}

@media only screen and (min-width: 768px) {
  .bg-IconTrinityTruckSecondFull {
    background-image: url('./assets/trinity-steelindo-truck.jpg');
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-container {
  animation: spin 2s linear infinite;
}

.animate-none {
  animation: none !important;
}
